<div class="d-flex flex-row-reverse mt-4 p-4 text-white rounded">
    <div class="ms-3">문의</div>
    <div class="ms-3">광고</div>
    <div class="ms-3">제휴</div>
    <div class="ms-3">회사소개</div>
</div>
</div>
<!-- 아우터 끝 -->
</body>

</html>