<!DOCTYPE html>
<html lang="en">

<head>
    <title>블로그</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <style>
        /* 고유 색 생성  ( cp = color_primary cs = color_sub) */
        
        .bg-cp {
            background-color: rgb(133, 171, 240);
        }
        
        .btn-cp {
            background-color: rgb(133, 171, 240);
            border-radius: 3px;
        }
        
        .btn-cs {
            background-color: rgb(64, 119, 202);
            border-radius: 3px;
        }
        /* 고유 색 생성 끝 */
        /* div박스 설정 ( bdo = box_detail_outer bdt = box_detail_title bdc=box_detail_content) */
        
        .bdo {
            border: 1px solid rgb(43, 48, 59);
            border-radius: 5px;
            margin-bottom: 10px;
            background-color: white;
        }
        
        .bdt {
            flex: 1;
        }
        
        .bdc {
            flex: 4;
        }
        /* div 박스 설정 끝 */
        /* 폰트 설정 ( td = font_detail ) */
        
        .fd {
            font-size: large;
        }
        /* 폰트 설정 끝 */
    </style>


</head>


<body class="bg-cp">

    <!-- 아우터 시작 -->
    <div class="container">

        <!-- 네비게이션 시작 -->
        <nav class="navbar navbar-expand-sm navbar-dark">
            <div class="container">
                <a class="navbar-brand" href="/">My Blog</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">

                    <!-- 로그인 시 처리 -->
                    {{#principal}}
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link text-light" href="/s/post/writeForm">글쓰기</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="/s/user/1">회원정보</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="/logout">로그아웃</a>
                        </li>
                    </ul>
                    {{/principal}}
                    <!-- 로그인 시 처리 끝 -->
                    <!-- 로그아웃 시 처리 -->
                    {{^principal}}
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link text-light" href="/loginForm">로그인</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="/joinForm">회원가입</a>
                        </li>
                    </ul>
                    {{/principal}}
                    <!-- 로그아웃 시 처리 끝 -->

                </div>
            </div>
        </nav>
        <!-- 네비게이션 끝 -->