{{>/layout/header}}
<!-- 컨테이너 시작 -->
<div class="container mt-3 fd bdo ">

    <!-- 유저정보 보기 시작 -->
    <div class=" d-flex mb-3 mt-3 ">
        <div class="bdt ">
            ID
        </div>
        <div class="bdc ">
            {{user.username}}
        </div>
    </div>
    <div class="d-flex mb-3 mt-3 ">
        <div class="bdt ">
            패스워드
        </div>
        <div class="bdc ">
            {{user.password}}
        </div>
    </div>
    <div class="d-flex mb-3 mt-3 ">
        <div class="bdt ">
            email
        </div>
        <div class="bdc ">
            {{user.email}}
        </div>
    </div>
    <!-- 유저정보 보기  끝 -->

</div>
<!-- 컨테이너 끝 -->

<!-- 정보수정 버튼 -->
<a href="/s/user/updateForm" class="btn btn-cs text-light">정보수정</a>
<!-- 정보수정 버튼 끝 -->
{{>/layout/footer}}