{{>/layout/header}}
<!-- 컨테이너 시작 -->
<div class="container mt-3 ">

    <!-- 정보수정 폼 시작 -->
    <!-- from 태그는 update와 delete 요청을 할 수 없다. 자바스크립트로 처리 -->
    <form>
        <div>
            <input type="hidden" value="{{principal.userId}}" id="id">
        </div>
        <div class="mb-3 mt-3">
            <input type="text" class="form-control" value="{{principal.username}}" id="username" readonly>
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" value="{{principal.password}}" id="password" required>
        </div>
        <div class="mb-3">
            <input type="email" class="form-control" value="{{principal.email}}" id="email" required>
        </div>
        <button type="button" class="btn btn-cs text-light" onclick="update()">수정완료</button>
    </form>
    <!-- 정보수정 폼 끝 -->

    <script>
        async function update(){
            // 1. jquery로 password, email 찾아서 자바스크립트 오브젝트로 만들기
            let user ={
                password: $("#password").val(),
                email: $("#email").val()
            }

            // 2. 오브젝트를 json으로 변환하기
            let updateJson = JSON.stringify(user);

            // 3. fetch 요청하기
            let id = $("#id").val();
            let response = await fetch("/s/user/"+id,{
                method:"PUT",
                headers:{
                    "Content-Type":"application/json; charset=utf-8"
                },
                body:updateJson
            });

            let responseObject = await response.json();

            if(responseObject.code == 1){
                alert("수정에 성공하였습니다.");
                location.href="/s/user/" + id;
            } else {
                alert("수정에 실패 :" +responseObject.msg)
            }
        }
    </script>

</div>
<!-- 컨테이너 끝 -->
{{>/layout/footer}}